<main class="main">
  <div class="inner">
    <%= image_tag "healthbird.jpg" , class: "top-image" %>
      <%# ログイン中はユーザー名を表示する %>
      <% if user_signed_in? %>
        <div class="greeting">
          **+健康診断アプリへ+**大変な中、ご訪問頂きありがとうございます。<br>
          <%= link_to "^*+#{current_user.nickname}さん+*^", "#" , class: "greeting__link" %><br>
          +++ヘルスケアへようこそおいで下さいました！***
        </div>
      <% else %>
      <% end %>
    
    <%# ログイン・ログアウトに関わらず、健康診断自己チェックのアイコンを常に表示！ %>
    
    <%# ログイン中は、健康診断自己チェック専用ページに移動 %>
    <% if user_signed_in? %>
      <%= link_to(new_health_path, class: 'health-btn') do %>
        <span class='health-btn-text'>健康診断へ<br>回答する</span>
        <%= image_tag '健康自己チェック.jpeg' , size: '200x100' ,class: "health-btn-icon" %>
      <% end %>
    <%# ログアウト中は、ログイン画面に移動 %>
    <% else %>
      <%= link_to(new_user_session_path, class: 'health-btn') do %>
        <span class='health-btn-text'>健康診断へ<br>回答する</span>
        <%= image_tag '健康自己チェック.jpeg' , size: '200x100' ,class: "health-btn-icon" %>
      <% end %>

    <% end %>

  </div>
      <div class="card__wrapper">
        <%# 投稿機能実装後、健康診断自己チェックの回答一覧を下記の表示 %>
      </div>
 

</main>
