<div class="health_inner">
    <h2 class="form__text"> 健康診断自己チェックへの新規回答 </h2>
        
        <%= image_tag "伊吹山.jpg" , class: "health_new_image" %>

      <%= form_with model: @health , class: "health__wrapper" , local: true do |f| %>
        <div class="health_field">

         <%# ストレス項目 %>
          <%# ストレス事例 %>
          <div class= "field__text">
            <%= f.label :stress, "◇主なストレス事例" %><br />
            <%= f.text_field :stress  , id:"health_stress"  %>
          </div>

          <div class="health__text">
            <strong class="health__box" >
                　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　現状直面の度合/頻度</strong>
            <strong class="health__box" >
                　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　◇ストレス：優先順位
              <%# 3段階評価(1.不問～3.重要) %>
              <%= f.collection_select(:stressweight_id, Stressweight.all, :id, :name, {}, {class: "form__score"}) %>   
             </strong>
          </div>
          <%# ストレス要因フォームからの点数化 %>
          <strong class="health__box" >行動面　　　　　　　　　　</strong>
          <div class="health__text">
            <em>a.業務労働：忙しすぎて、大変な責任ある担当を任されている負担度　　　　</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:stressdoa_id, Stressdoa.all, :id, :name, {}, {class: "form__score"}) %>
              <%# ストレス点数化 %>              
              <%= hardwork = @health.stressdoa_id.to_i * @health.stressweight_id.to_i %>
             </div>
          </div>
          <div class="health__text">
            <em>b.人間関係：ギクシャクして、解消し切れずため込んだストレス度　　　　　</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:stressdob_id, Stressdob.all, :id, :name, {}, {class: "form__score"}) %>
              <%# ストレス点数化 %>              
              <%= hardpersons = @health.stressdob_id.to_i * @health.stressweight_id.to_i %>
            </div>
          </div>
          <div class="health__text">
            <em>c.住居環境：落ち着かない生活で、騒音・汚染・迷惑行為などのストレス度　</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:stressdoc_id, Stressdoc.all, :id, :name, {}, {class: "form__score"}) %>
              <%# ストレス点数化 %>              
              <%= painfullife= @health.stressdoc_id.to_i * @health.stressweight_id.to_i %>
            </div>
          </div> 
          <div class="health__text">
            <em>d.損失：経済が不安定で、頑張っているのに結果が出ず報われないストレス度</em>         
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:stressdod_id, Stressdod.all, :id, :name, {}, {class: "form__score"}) %>
              <%# ストレス点数化 %>              
              <%= loss = @health.stressdod_id.to_i * @health.stressweight_id.to_i %>
            </div>
          </div>  
          <strong class="health__box" >心理面　　　　　　　　　　</strong>
          <div class="health__text">
            <em>a.責任：やらねばならない事ばかりで余裕なく、解消がし切れないストレス度</em>         
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:stressfeela_id, Stressfeela.all, :id, :name, {}, {class: "form__score"}) %>
              <%# ストレス点数化 %>              
              <%= duty = @health.stressfeela_id.to_i * @health.stressweight_id.to_i %>
            </div>
          </div>
          <div class="health__text">
            <em>b.疲労：頑張り過ぎて休む暇が無く、疲労から中々回復しないストレス度　　</em>         
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:stressfeelb_id, Stressfeelb.all, :id, :name, {}, {class: "form__score"}) %>
                <%# ストレス点数化 %>              
              <%= tired = @health.stressfeelb_id.to_i * @health.stressweight_id.to_i %>
             </div>
          </div>  
          <div class="health__text">
            <em>c.孤立：話し合える仲間がいなく、周りとの協力が難しいストレス度　　　　</em>         
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:stressfeelc_id, Stressfeelc.all, :id, :name, {}, {class: "form__score"}) %>
              <%# ストレス点数化 %>              
              <%= neglect = @health.stressfeelc_id.to_i * @health.stressweight_id.to_i %>
            </div>
          </div> 
          <div class="health__text">
            <em>d.不安：やりたい事が不明でプレッシャー感覚過敏、神経質のストレス度　　</em>         
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:stressfeeld_id, Stressfeeld.all, :id, :name, {}, {class: "form__score"}) %>
              <%# ストレス点数化 %>              
              <%= nervous = @health.stressfeeld_id.to_i * @health.stressweight_id.to_i %>
            </div>
          </div> 

          <%# ストレス総合得点 %>
          <span id="stress-score"><%= @stress_score = hardwork + hardpersons + painfullife + loss + duty + tired + neglect + nervous %></span><br>

          <%# リフレッシュ項目 %>
          <%# リフレッシュ事例 %>
          <div class="field__text"><hr>
            <%= f.label :refresh, "〇主なリフレッシュ事例" %><br />
            <%= f.text_field :refresh,  id:"health_refresh" %>
          </div>

          <div class="health__text">
            <strong class="health__box" >　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　現状直面の度合/頻度</strong>
            <strong class="health__box" >　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　〇リフレッシュ：優先順位
            <%# 3段階評価(1.不問～3.重要) %>
            <%= f.collection_select(:refreshweight_id, Refreshweight.all, :id, :name, {}, {class: "form__score"}) %>
            </strong>
          </div>
          <%# リフレッシュ習慣フォームからの点数化 %>
          <strong class="health__box" >行動面　　　　　　　　　　</strong>
          <div class="health__text">
            <em>a.仕事：忙しくてもやりがいあって、自分に適した業務による満足度　　　　</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:refreshdoa_id, Refreshdoa.all, :id, :name, {}, {class: "form__score"}) %>
              <%# リフレッシュ点数化 %>              
              <%= goodjob = @health.refreshdoa_id.to_i * @health.refreshweight_id.to_i %>
             </div>
          </div>
          <div class="health__text">
            <em>b.人脈：付き合い・交流がうまくいき、本音でも話し合える人脈の豊富度　　</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:refreshdob_id, Refreshdob.all, :id, :name, {}, {class: "form__score"}) %>
              <%# リフレッシュ点数化 %>              
              <%= matchpersons = @health.refreshdob_id.to_i * @health.refreshweight_id.to_i %>
            </div>
          </div>          
          <div class="health__text">
            <em>c.生活環境：恵まれた生活で、周辺も整音・衛生清潔・安定でのリラックス度</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:refreshdoc_id, Refreshdoc.all, :id, :name, {}, {class: "form__score"}) %>
              <%# リフレッシュ点数化 %>              
              <%= happylife = @health.refreshdoc_id.to_i * @health.refreshweight_id.to_i %>
            </div>
          </div>          
          <div class="health__text">
            <em>d利益：貯金、投資も十分できる家計があり、買物も余裕持ってできる充実度</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:refreshdod_id, Refreshdod.all, :id, :name, {}, {class: "form__score"}) %>
              <%# リフレッシュ点数化 %>              
              <%= profit = @health.refreshdod_id.to_i * @health.refreshweight_id.to_i %>
             </div>
          </div> 
          <strong class="health__box" >心理面　　　　　　　　　　</strong>
          <div class="health__text">
            <em>a.趣味：楽しむ事物があり、痛み、辛さ、嫌な事を解消できるリフレッシュ度</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:refreshfeela_id, Refreshfeela.all, :id, :name, {}, {class: "form__score"}) %>
              <%# リフレッシュ点数化 %>      
              <%= hobby = @health.refreshfeela_id.to_i * @health.refreshweight_id.to_i %>
            </div>
          </div>
          <div class="health__text">
            <em>b.元気：朝もスッキリした目覚めで、何事にも活発に取り組める活動の充実度</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:refreshfeelb_id, Refreshfeelb.all, :id, :name, {}, {class: "form__score"}) %>
              <%# リフレッシュ点数化 %>              
              <%= energy = @health.refreshfeelb_id.to_i * @health.refreshweight_id.to_i %>
            </div>
          </div>           
          <div class="health__text">
            <em>c.仲間：好感的に話し合える集まりがあり、問題でも共同で対処できる好感度</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:refreshfeelc_id, Refreshfeelc.all, :id, :name, {}, {class: "form__score"}) %>
              <%# リフレッシュ点数化 %>              
              <%= support = @health.refreshfeelc_id.to_i * @health.refreshweight_id.to_i %>
            </div>
          </div>     
          <div class="health__text">
            <em>d.安心：セキュリティ対策も十分整っていて、いざという時も平常心の安定度</em>
            <div class="health__box">
              <%# 5段階評価(1.低い/少ない～5.高い/多い) %>
              <%= f.collection_select(:refreshfeeld_id, Refreshfeeld.all, :id, :name, {}, {class: "form__score"}) %>
              <%# リフレッシュ点数化 %>              
              <%= safely = @health.refreshfeeld_id.to_i * @health.refreshweight_id.to_i %>
            </div>
          </div>     

          <%# リフレッシュ総合得点 %>
          <span id="refresh-score"><%= @refresh_score = goodjob + matchpersons + happylife + profit + hobby + energy + support + safely %> </span>

          <hr>
          <div class= "field__text">
            <%= f.label :image, "健康診断の画像" %><br />
            <%= f.file_field :image , id:"health_image"   %>
          </div>
        </div>


        <div class="actions">
          <%= f.submit "回答を記録する", class: :form__btn  %>
     
        </div><br>

        <div class="health_field">
             <%# エラーメッセージ表示 %>
          <%= render "devise/shared/error_messages", resource: f.object , class: "health_error" %> 
        </div>
    <% end %>

</div>