<div class="health_inner">
  <h1 class="form__text"> 回答結果の詳細・健康状態</h1>

    <%= image_tag "琵琶湖虹.jpg" , class: "health_show_image" %>

  <div class="health__table">
    <table class="detail-table" >
      <tbody>
        <tr class="title-border">
          <th class="health-detail"> ストレス要因</th>
          <td class="detail-value"><%= @health.stress %></td>
        </tr>
        <tr>
          <th class="health-detail">業務労働</th>
          <td class="detail-value"><%= @health.stressdoa_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">人間関係</th>
          <td class="detail-value"><%= @health.stressdob_id%>点</td>
        </tr>       
         <tr>
          <th class="health-detail">住居環境</th>
          <td class="detail-value"><%= @health.stressdoc_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">不本意</th>
          <td class="detail-value"><%= @health.stressdod_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">責任</th>
          <td class="detail-value"><%= @health.stressfeela_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">疲労</th>
          <td class="detail-value"><%= @health.stressfeelb_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">孤立</th>
          <td class="detail-value"><%= @health.stressfeelc_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">不安</th>
          <td class="detail-value"><%= @health.stressfeeld_id%>点</td>
        </tr> 
        <tr class="weight-value">
          <th class="health-detail"> ストレス優先順位</th>
          <td class="detail-value">ランク<%= @health.stressweight_id %></td>
        </tr>
        <tr class="title-border">
          <th class="health-detail"> ストレス総合点数</th>
          <td id="cal-stress-score" class="detail-value"><%= ( @health.stressdoa_id.to_i + @health.stressdob_id.to_i + @health.stressdoc_id.to_i + @health.stressdod_id.to_i + @health.stressfeela_id.to_i + @health.stressfeelb_id.to_i + @health.stressfeelc_id.to_i + @health.stressfeeld_id.to_i ) * @health.stressweight_id.to_i %>点</td>
        </tr>        
      </tbody> 
    </table>

    <table class="detail-table" >
      <tbody>
        <tr class="title-border">
          <th class="health-detail"> リフレッシュ習慣</th>
          <td class="detail-value"><%= @health.refresh %></td>
        </tr>
        <tr>
          <th class="health-detail">仕事</th>
          <td class="detail-value"><%= @health.refreshdoa_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">人脈</th>
          <td class="detail-value"><%= @health.refreshdob_id%>点</td>
        </tr>       
         <tr>
          <th class="health-detail">生活環境</th>
          <td class="detail-value"><%= @health.refreshdoc_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">満足</th>
          <td class="detail-value"><%= @health.refreshdod_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">趣味</th>
          <td class="detail-value"><%= @health.refreshfeela_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">元気</th>
          <td class="detail-value"><%= @health.refreshfeelb_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">仲間</th>
          <td class="detail-value"><%= @health.refreshfeelc_id%>点</td>
        </tr>
        <tr>
          <th class="health-detail">安定</th>
          <td class="detail-value"><%= @health.refreshfeeld_id%>点</td>
        </tr> 
        <tr class="weight-value">
          <th class="health-detail"> リフレッシュ優先順位</th>
          <td class="detail-value">ランク<%= @health.refreshweight_id %></td>
        </tr>
        <tr class="title-border">
          <th class="health-detail"> リフレッシュ総合点数</th>
          <td id="cal-refresh-score" class="detail-value"><%= ( @health.refreshdoa_id.to_i + @health.refreshdob_id.to_i + @health.refreshdoc_id.to_i + @health.refreshdod_id.to_i + @health.refreshfeela_id.to_i + @health.refreshfeelb_id.to_i + @health.refreshfeelc_id.to_i + @health.refreshfeeld_id.to_i ) * @health.refreshweight_id.to_i %>点</td>
        </tr>      
      </tbody> 
    </table>
    <hr><br>
  </div>

  <div class="health__btn" >
      <%# ログイン中ユーザーと出品ユーザーが同一人物の場合、編集・削除ボタン表示有り %>
      <% if user_signed_in? && current_user.id == @health.user[:id] %>
        <%= link_to "診断回答データでの編集", edit_health_path(@health) , method: :get, class: "health_edit_btn" %><br>
        <%= link_to "診断回答データ削除", health_path(@health) , method: :delete, class:"health_destroy_btn" %><br>
      <%# ログイン中ユーザーと出品ユーザーが違う人物場合、購入ボタンのみ表示 %>
      <% elsif user_signed_in? && current_user.id != @health.user[:id]  %>
        <%= link_to "#{@health.user.nickname}さんに<br>お気に入り共感".html_safe , user_path(@health.user) ,class: "health__favor"%>
      <% else %>  
        <%# ログアウト中は編集・削除・購入ボタン表示無し %>
      <% end %>
    <hr><br>
  </div>

  <div class="cares_lists">
    <%= link_to ( health_cares_path(@health) ) do %>
      <div class="care_user">☆ケア・ポジティブへの選定</div>
        <div class="cares_list" >
          <%# リフレッシュの方が大きく、健康的な場合 %>
          <% if  ( @health.refreshdoa_id.to_i + @health.refreshdob_id.to_i + @health.refreshdoc_id.to_i + @health.refreshdod_id.to_i + @health.refreshfeela_id.to_i + @health.refreshfeelb_id.to_i + @health.refreshfeelc_id.to_i + @health.refreshfeeld_id.to_i ) * @health.refreshweight_id.to_i - ( @health.stressdoa_id.to_i + @health.stressdob_id.to_i + @health.stressdoc_id.to_i + @health.stressdod_id.to_i + @health.stressfeela_id.to_i + @health.stressfeelb_id.to_i + @health.stressfeelc_id.to_i + @health.stressfeeld_id.to_i ) * @health.stressweight_id.to_i > 0 %>
            〇リフレッシュ習慣：有り。良い習慣と考えられます。健康が続く様に日頃の習慣を大切にしたいですね！！！<br>
            <%= image_tag "展望観光.JPG" , class: "carecard__img" %>
            <% if  ( @health.refreshdoa_id.to_i + @health.refreshdob_id.to_i + @health.refreshdoc_id.to_i + @health.refreshdod_id.to_i + @health.refreshfeela_id.to_i + @health.refreshfeelb_id.to_i + @health.refreshfeelc_id.to_i + @health.refreshfeeld_id.to_i ) * @health.refreshweight_id.to_i - ( @health.stressdoa_id.to_i + @health.stressdob_id.to_i + @health.stressdoc_id.to_i + @health.stressdod_id.to_i + @health.stressfeela_id.to_i + @health.stressfeelb_id.to_i + @health.stressfeelc_id.to_i + @health.stressfeeld_id.to_i ) * @health.stressweight_id.to_i >= 25 %>
              ⦿⦿リフレッシュする習慣：良好!→今後も健康維持の為にリフレッシュできる時間・場所が大切と考えられます。色々と挑戦しましょう！！<hr>
              <%= image_tag "新幹線旅行.JPG", class: "carecard__img" %>
              <% if  ( @health.refreshdoa_id.to_i + @health.refreshdob_id.to_i + @health.refreshdoc_id.to_i + @health.refreshdod_id.to_i + @health.refreshfeela_id.to_i + @health.refreshfeelb_id.to_i + @health.refreshfeelc_id.to_i + @health.refreshfeeld_id.to_i ) * @health.refreshweight_id.to_i - ( @health.stressdoa_id.to_i + @health.stressdob_id.to_i + @health.stressdoc_id.to_i + @health.stressdod_id.to_i + @health.stressfeela_id.to_i + @health.stressfeelb_id.to_i + @health.stressfeelc_id.to_i + @health.stressfeeld_id.to_i ) * @health.stressweight_id.to_i > 60 %>
                ◎◎◎リフレッシュできる習慣：順調！その調子です。！もう積極的に活躍できる機会への活動・参加が期待されます！<br>
                <%= image_tag "活発な交流会.JPG", class: "carecard__img" %>
                ◇◇◇ストレス対処：優良。ストレスあってもすぐに解消できている感じで問題ありません。<hr>
              <% else %>
                <%= image_tag "健康ペットボトル式飲料.JPG", class: "carecard__img" %>
                ◇◇ストレス処理：うまくいって大丈夫。念の為、たまり積もったストレスが無いか管理も良いですね。<hr>
              <% end %>
            <% else %>
              <%= image_tag "natural.png", class: "carecard__img" %> 
              <hr>
              <%= image_tag "健康ペットボトル式飲料.JPG", class: "carecard__img" %>
              ◇たまったストレス：やや有り。ただ、ストレスため込みには気を付けたいですね。
            <% end %>
          <%# リフレッシュ・ストレスが同じで、微妙で曖昧な場合 %>
          <% elsif ( @health.refreshdoa_id.to_i + @health.refreshdob_id.to_i + @health.refreshdoc_id.to_i + @health.refreshdod_id.to_i + @health.refreshfeela_id.to_i + @health.refreshfeelb_id.to_i + @health.refreshfeelc_id.to_i + @health.refreshfeeld_id.to_i ) * @health.refreshweight_id.to_i - ( @health.stressdoa_id.to_i + @health.stressdob_id.to_i + @health.stressdoc_id.to_i + @health.stressdod_id.to_i + @health.stressfeela_id.to_i + @health.stressfeelb_id.to_i + @health.stressfeelc_id.to_i + @health.stressfeeld_id.to_i ) * @health.stressweight_id.to_i == 0 %>
            <%= image_tag "展望観光.JPG", class: "carecard__img" %>
            ・ストレスあってもリフレッシュで天然で自然との共生も、良いと思われます。
            <%= image_tag "natural.png", class: "carecard__img" %> 
            <%= image_tag "健康パウチ式ゼリー飲料.JPG", class: "carecard__img" %>      

          <%# ストレスの方が大きく、健康にむけて改善が必要な場合 %>    
          <% else %>
          ◇たまったストレス：有り!頑張っている分、ストレスもあると思います。リフレッシュの心がけとして、健康飲料も良いですよ！+***+<br>
            <%= image_tag "健康パウチ式ゼリー飲料.JPG", class: "carecard__img" %>
            <% if  ( @health.refreshdoa_id.to_i + @health.refreshdob_id.to_i + @health.refreshdoc_id.to_i + @health.refreshdod_id.to_i + @health.refreshfeela_id.to_i + @health.refreshfeelb_id.to_i + @health.refreshfeelc_id.to_i + @health.refreshfeeld_id.to_i ) * @health.refreshweight_id.to_i - ( @health.stressdoa_id.to_i + @health.stressdob_id.to_i + @health.stressdoc_id.to_i + @health.stressdod_id.to_i + @health.stressfeela_id.to_i + @health.stressfeelb_id.to_i + @health.stressfeelc_id.to_i + @health.stressfeeld_id.to_i ) * @health.stressweight_id.to_i <= -25 %>
              ◆◆ストレス処理：多くて大変!→よく頑張って大変とは思いますが、リフレッシュできる時間・場所を大切にしてきましょう！！++***++<hr>
                <%= image_tag "健康サプリメント.JPG", class: "carecard__img" %>
              <% if  ( @health.refreshdoa_id.to_i + @health.refreshdob_id.to_i + @health.refreshdoc_id.to_i + @health.refreshdod_id.to_i + @health.refreshfeela_id.to_i + @health.refreshfeelb_id.to_i + @health.refreshfeelc_id.to_i + @health.refreshfeeld_id.to_i ) * @health.refreshweight_id.to_i - ( @health.stressdoa_id.to_i + @health.stressdob_id.to_i + @health.stressdoc_id.to_i + @health.stressdod_id.to_i + @health.stressfeela_id.to_i + @health.stressfeelb_id.to_i + @health.stressfeelc_id.to_i + @health.stressfeeld_id.to_i ) * @health.stressweight_id.to_i < -60 %>
                ❖❖❖ストレス対処：過剰で困難！⇒毎日頑張る事は大切でも頑張りすぎ数値の結果の為、今からすぐにケア対策の為に改善が必要です！ケア専門機関として医療機関も奨励致します！！！+++***+++<hr>
                <%= image_tag "医療機関.JPG", class: "carecard__img" %>
                〇〇〇リフレッシュ中々できない習慣！⇒今後はケアが必要と分析されます+**+!<br>
              <% else %>
                <%= image_tag "娯楽エンターテインメント.JPG" , class: "carecard__img" %>
                〇〇リフレッシュしたい習慣：もうちょっと欲しい習慣!→健康維持の為にリフレッシュできる時間・場所を大切にしてきましょう++!<br>
              <% end %>
            <% else %>
              <%= image_tag "natural.png", class: "carecard__img" %>        
              <%= image_tag "娯楽エンターテインメント.JPG" , class: "carecard__img" %>
              〇リフレッシュ習慣：やや有り!休日では趣味として、娯楽・観光もあれば良いですね。<hr>            
            <% end %>
          <% end %>
      </div>
    <% end %>
  </div>

</div>
