<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Healthcare39228</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
            <%# ヘルスケア象徴ロゴ：以下のイラスト絵マークでクリックするとトップページ戻る %>
          <div class="nav__left">
            <%= link_to image_tag("healthcare logo.png", class: :logo), root_path %>
          </div>
          
          <%# ログイン中：以下の表示%>
          <% if user_signed_in?  %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "nav__logout" %>
              <%= link_to "登録変更", edit_user_registration_path , class: "nav__btn" %>
            </div>
          <%# ログアウト中 、以下の表示%>
          <% else %> 
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: "nav__btn" %>
              <%= link_to "新規登録", new_user_registration_path, class: "nav__btn" %>
            </div>
          <% end %>

        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <p class="copyright">Copyright © Health Care All rights reserved.</p>
    </footer>

  </body>
</html>
